<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.istresearch.ujumbesms"
      android:versionCode="1"
      android:versionName="1.0">
         
    <uses-sdk android:minSdkVersion="4" />
    <!-- android:targetSdkVersion="17"
    CANNOT TARGET 3.0 or LATER!  
    http://developer.android.com/reference/android/os/NetworkOnMainThreadException.html
     -->
         
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />              
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />              
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />     
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application android:name="com.istresearch.ujumbesms.App"
        android:label="@string/app_name" 
        android:icon="@drawable/ujimbi" >

        <activity android:name="com.istresearch.ujumbesms.ui.LogView" 
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>        

        <activity android:name="com.blackmoonit.app.AppAbout" 
            android:label="@string/app_name" 
            android:icon="@drawable/icon_question" 
        	android:theme="@android:style/Theme.Dialog"
        	android:excludeFromRecents="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>        

        <activity android:name="com.istresearch.ujumbesms.ui.DebugServerActivity" 
            android:label="@string/app_name" 
        	android:excludeFromRecents="true" >
        </activity>

        <activity android:name="com.istresearch.ujumbesms.ui.TestPhoneNumbers" android:label="@string/test_phone_numbers_title">
        </activity>                
        
        <activity android:name="com.istresearch.ujumbesms.ui.IgnoredPhoneNumbers" android:label="@string/ignored_phone_numbers_title">
        </activity>                        
        
        <activity android:name="com.istresearch.ujumbesms.ui.MessagingSmsInbox" android:label="@string/forward_saved_title">
        </activity>        

        <activity android:name="com.istresearch.ujumbesms.ui.MessagingMmsInbox" android:label="@string/forward_saved_title">
        </activity>        
        
        <activity android:name="com.istresearch.ujumbesms.ui.MessagingSentSms" android:label="@string/forward_saved_title">
        </activity>
        
        <activity android:name="com.istresearch.ujumbesms.ui.PendingMessages" android:label="@string/pending_messages_title">
        </activity>

		<activity android:name="com.istresearch.ujumbesms.ui.AppPrefs" 
			android:label="@string/act_name_settings" 
			android:enabled="true" >
			<intent-filter>
				<category android:name="android.intent.category.PREFERENCE" />
			</intent-filter>
		</activity>
        
        <activity android:name="com.istresearch.ujumbesms.ui.ExpansionPacks" android:label="...">
        </activity>        

        <receiver android:name="com.istresearch.ujumbesms.receiver.SmsReceiver">
            <intent-filter android:priority="101">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver> 	
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.OutgoingSmsReceiver">
            <intent-filter>
                <action android:name="com.istresearch.ujumbesms.OUTGOING_SMS" />
                <data android:scheme="content" />
            </intent-filter>            
        </receiver>
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.MessageStatusNotifier" android:exported="true">
            <intent-filter>
                <action android:name="com.istresearch.ujumbesms.MESSAGE_STATUS" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.istresearch.ujumbesms.receiver.NudgeReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.istresearch.ujumbesms.NUDGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" /> 
            </intent-filter>
        </receiver>       
        
        <!-- 
            we don't really use message delivery notifications yet...
            
        <receiver android:name=".receiver.MessageDeliveryNotifier" android:exported="true">
            <intent-filter>
                <action android:name="org.envaya.sms.MESSAGE_DELIVERY" />
                <data android:scheme="content" />
            </intent-filter>
        </receiver>
        -->

        <receiver android:name="com.istresearch.ujumbesms.receiver.DequeueOutgoingMessageReceiver">
        </receiver>

        <receiver android:name="com.istresearch.ujumbesms.receiver.OutgoingMessageTimeout">
        </receiver>

        <receiver android:name="com.istresearch.ujumbesms.receiver.OutgoingMessagePoller">
        </receiver>
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.OutgoingMessageRetry">
        </receiver>        
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.IncomingMessageRetry">
        </receiver>            
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.ReenableWifiReceiver">
        </receiver>
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.StartAmqpConsumer">
        </receiver>
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.ExpansionPackInstallReceiver">
            <intent-filter> 
                 <action android:name="android.intent.action.PACKAGE_ADDED" /> 
                 <action android:name="android.intent.action.PACKAGE_REMOVED" /> 
                 <action android:name="android.intent.action.PACKAGE_REPLACED" /> 
                 <data android:scheme="package" />
            </intent-filter>            
        </receiver>        
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.ConnectivityChangeReceiver" >        
            <intent-filter> 
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter> 
        </receiver>         
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.DeviceStatusReceiver"> 
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.istresearch.ujumbesms.receiver.UjumbeCacheReceiver">
 			<intent-filter>
 			    <action android:name="com.istresearch.ujumbesms.BROADCAST" />
 			</intent-filter>
 		</receiver>
 		
        <service android:name="com.istresearch.ujumbesms.service.CheckMessagingService">
        </service>

        <service android:name="com.istresearch.ujumbesms.service.EnabledChangedService">
        </service>

        <service android:name="com.istresearch.ujumbesms.service.ForegroundService">
        </service>            
        
        <service android:name="com.istresearch.ujumbesms.service.AmqpConsumerService">
        </service>                    
        
        <service android:name="com.istresearch.ujumbesms.service.AmqpHeartbeatService">
        </service>                            
    </application>
</manifest> 